<html>
    <head>
    
        
    </head>
    <body>

        <h2>server name: <%= servername %></h2>  

        <h2> Register New Animal  </h2></h2>
        
        
        <form action="/" method="POST" >
            <p>Name*:</p>
            <input name="Name" type="text">
            <p>Favorite Color:</p>
            <input name="FavColor" type="text">
            <p>Animal Type:</p>
            <select name="AnimalType" >
                <option  value="Cats">Cats</option>
                <option  value="Dogs">Dogs</option>
            </select>
                       
        <button id="btn" type="submit" >Save</button>
        </form>
    </body>
</html>